*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* UTILS */

.container{
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
}

img{

    max-width: 100%;
   

}

h2{
    font-size: 0.9rem;
    color: grey;
}

h1{
    font-size: 1.3rem;
    color: black;


}

h3{
    color: red;
    font-size: 0.9rem;
}





.zalando-page > .container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;

}

.container .dress-card {
    flex: 1 0 30%;

    /* debug */
    background-color: lightgray;
    min-height: 500px;


}
