*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* UTILS */

.container{
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
}

header{
    position: fixed;
    top: 0;

    left: 0;
    right: 0;
    z-index: 1;
    background-color: orange;
    min-height: 80px;
    height: auto;


}

header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

img{

    max-width: 100%;
   

}

h2{
    font-size: 0.9rem;
    color: grey;
}

h1{
    font-size: 1.3rem;
    color: black;


}

h3{
    color: red;
    font-size: 0.9rem;
}





.zalando-page > .container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;

}

.container .dress-card {
    flex: 1 0 30%;

    /* debug */
    background-color: white;
    min-height: 500px;


}

.dress-image{

    position: relative;

}
.dress-image .heart {
    position: absolute;
    top: 1rem;
    right: 0;
    border: black;
    background-color: white;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 100%;
    


}
.dress-image .discount {
position: absolute;
left: 0;
bottom: 2rem;
border: red;
background-color: red;
text-align: center;
height: 20px;
width: 40px;
line-height: 20px;
text-align: center;
color: white;

}

.dress-image .greentab {
position: absolute;
left: 50px;
bottom: 2rem;
border: rgb(19, 175, 19);
background-color: rgb(19, 175, 19);
text-align: center;
height: 20px;
width: 80px;
line-height: 20px;
text-align: center;
color: black;

}
 

.dress-card .dress-image .img-hover{
    display: none;
    width: 100%;

}




.dress-card:hover .dress-image .img-main{
    display: none;

 }

 .dress-card:hover .dress-image .img-hover{
    display: block;
 }


    
 .dress-image .greentab-6{
position: absolute;
left: 0px;
bottom: 2rem;
border: rgb(19, 175, 19);
background-color: rgb(19, 175, 19);
text-align: center;
height: 20px;
width: 80px;
line-height: 20px;
text-align: center;
color: black;

 }